
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Vous sur la page du potin <%= @gossip_title %> </h1>
  </div>
</div>

<div class="card text-center">
  <p> Voilà ce qu'a dit <strong><%= @user_first_name %> <%= @user_last_name %></strong> : </p>
  <p><%= @gossip_content %></p>
  <p><em>Le <%= @gossip_date.to_s(:db) %></em></p>

  <p><strong>Les informations sur l'auteur : </strong></p>
  <div>
      <ul>
        <li>
          <p>Prénom : <%= @user_first_name %></p>
        </li>
        <li>
          <p>Nom : <%= @user_last_name %></p>
        </li>
        <li>
          <p>Age : <%= @user_age %> ans</p>
        </li>
        <li>
          <p>Ville : <%= @user_city %></p>
        </li>
        <li>
          <p><a href="/author/<%= @user_id %>" class="card-link">Lien vers la page de l'auteur</a>
        </li>
      </ul>
    </div>
</div>